# The supabase url and anon key can be found from our project settings > API
# https://supabase.com/dashboard/project/_/settings/api

NEXT_PUBLIC_SUPABASE_URL=our_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=our_supabase_anon_key
