@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 8, 145, 178, 1;
    --color-primary-light: 6, 182, 212, 1;
    --color-primary-lightest: 239, 248, 254, 1;
    --color-secondary: 0, 132, 197, 1;
    --color-secondary-light: 124, 211, 251, 1;
    --color-destructive: 225, 29, 72, 1;
    --color-accent: 251, 191, 36, 1;
    --color-white: 255, 255, 255, 1;
    --color-black: 51, 51, 51, 1;
    --color-overlay: 0, 0, 0, 0.25;

    --foreground: 50, 50, 50;
    --background: 250, 250, 250;
    --card: 255, 255, 255;
    --border: 220, 220, 220;
    --input: 148, 163, 184, 1;
    --placeholder: 200, 200, 200;
  }
}
