@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 8, 145, 178; /* #0891B2 */
    --color-primary-light: 6, 182, 212; /* #06B6D4 */
    --color-primary-lightest: 239, 248, 254; /* #E0F2FE */
    --color-secondary: 0, 132, 197; /* #0284C7 */
    --color-secondary-light: 124, 211, 251; /* #7DD3FC */
    --color-destructive: 225, 29, 72; /* #E11D48 */
    --color-accent: 251, 191, 36; /* #FBBF24 */
    --color-black: 51, 51, 51; /* #333 */
    --color-overlay: 0, 0, 0, 0.25;

    --background: 255, 255, 255; /* #fff */
    --card: 255, 255, 255;
    --popover: 255, 255, 255;
    --muted: 241, 245, 249; /* slate-100 */
    --border: 148, 163, 184; /* slate-400 */
    --input: 148, 163, 184;
    --ring: 148, 163, 184;
    --placeholder: 203, 213, 225; /* slate-300 */
    --radius: 0.75rem;
  }

  body {
    @apply text-black relative;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
}
